<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioWebGalaxiaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64575/ServicioWebGalaxia.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioWebGalaxiaSoap"
                contract="ServicioWebGalaxia.ServicioWebGalaxiaSoap" name="ServicioWebGalaxiaSoap" />
        </client>
    </system.serviceModel>
</configuration>